/* Smartphones (вертикальная и горизонтальная ориентация) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* стили */
}

/* Smartphones (горизонтальная) ----------- */
@media only screen and (min-width: 321px) {
/* стили */
}



/* tablets (my size)  */
@media only screen and (max-width: 960px)
 {
/* стили */
body {
	max-width: 100%;
}
.container {
	width: 720px;
}
.slider {
  width: 700px;
  height: 380px;
}
#mySwipe {
  width: 700px;
  height: 380px;
  margin: 0 auto;
}
.butslider {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
    width: 680px;
    margin-top: -30%; 
}
.item img {
	width: 100%;
}
.line {
	width: 600px;
}
}

/* Smartphones (my size)  */
@media only screen and (max-width: 768px)
 {
/* стили */
body {
	max-width: 100%;
}
.container {
	max-width: 100%;
}
.logotxt {
	display: none;
}
.logo {
	margin-left: 10%;
}
.navmenu {
	display: none;
}
.butmenu {
	display: block;
}
.maintitle {
	font-size: 1.5rem;
}
.aboutitem {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 65px;
}
.aboutitem img {
	display: block;
	margin: 0 auto;
}
.services_manicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.services_manicure img {
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 350px;
}
.services_manictxt{
	margin-top: 20px;
}
.services_pedicure {
	display: flex;
	display: -webkit-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.services_pedicure img {
	display: block;
	margin: 0 auto;
	width: 350px;
	height: 350px;
}
.services_pedicuretxt{
	margin-top: 20px;
}
.gallery {
	margin-top: 1px;
}








.slider {
  width: 100%;
  height: 380px;
}
#mySwipe {
  width: 100%;
  height: 380px;
  margin: 0 auto;
}
.butslider {
	display: none;
}
.item img {
	width: 100%;
}
.line {
	width: 200px;
}
}